@model PagedList.IPagedList<Model.EF.Account>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Quản lý người dùng
}

@section jsFooter{
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/Assets/Admin/JS/Controller/accountController.js"></script>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            @using (Html.BeginForm("Index", "Account", FormMethod.Get))
            {
                <div class="box-header">
                    <h3 class="box-title">Danh sách người dùng</h3>

                    <div class="box-tools pull-right">
                        <div class="input-group input-group-sm" style="width: 250px;">
                            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control pull-right", @placeholder = "Tìm kiếm" })
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>

                        </div>
                    </div>


                </div>
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>
                            @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortPara })
                        </th>
                        <th>
                            @Html.ActionLink("Tài khoản", "Index", new { sortOrder = ViewBag.UserNameSortPara })
                        </th>
                        <th>
                            @Html.ActionLink("Tên người dùng", "Index", new { sortOrder = ViewBag.NameSortPara })
                        </th>
                        <th>
                            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortPara })
                        </th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>
                            @Html.ActionLink("Trạng thái", "Index", new { sortOrder = ViewBag.StatusSortPara })
                        </th>
                        <th>Chức năng</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID" class="">
                            <td>@item.ID</td>
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                            <td><a href="#" class="btnChangeStatus label label-success" data-id="@item.ID">@(item.Status == true ? "Kích hoạt" : "Khóa")</a></td>
                            <td>
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                                @Ajax.ActionLink("Xóa", "Delete", new { id = item.ID }, new AjaxOptions
                           {
                               HttpMethod = "Delete",
                               Confirm = "Bạn muốn xóa tài khoản này?",
                               // dùng ajax thì browser nó sẽ không load lại trang
                               OnSuccess = "$('#row_" + @item.ID + "').remove()",
                               //OnComplete = "window.location.replace('" + @Url.Action("Index", "Account") + "');"
                           }, new { @class = "itemDelete" })

                            </td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount
    </div>
    <!-- /.box -->

</div>


